.container {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px #ccc;
  margin: 10px;
  max-width: 600px;
  height: 50vh;
}

.content {
  margin: 0 10px;
  width: 300px;
}

h3 {
  color: #a0a1a6;
  letter-spacing: 5px;
  font-weight: 200;
  width: 20vw;
}

#description {
  width: 22vw;
}

h2 {
  width: 15vw;
}

.img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
